{% extends 'films/base.html' %}

{% block title %}Информация о фильме{% endblock %}

{% block content %}
<h2>{{film}}</h2>
<p>{{film.title }}</p>
<p>Дата премьеры: {{ film.year }}</p>
<p>Длительность: {{ film.runtime }} мин</p>
<p>Автор сценария: {{ film.writer }}</p>
<p>Актёры: {{ film.actors }}</p>
<p>Содержание: {{ film.plot }}</p>
<p>Язык: {{ film.language }}</p>
<p>Cтрана: {{ film.country }}</p>
<p>Награды: {{ film.awards }}</p>
<p>Кассовые сборы: {{ film.box_office }} $</p>
<img src="{{ film.poster}}" width=”125" height=”200" align="left">


<div class="comments-section">
    <h2>Комментарии</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'reviews_create' film.film_id %}">
        {% csrf_token %}
        <input type="text" name="reviews" placeholder="Ваш комментарий">
        <button type="submit">Отправить</button>
    </form>
    {% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы оставить комментарий.</p>
    {% endif %}
    <div id="comments-container">
        <br>
        {% for review in reviews %}

        <div class="comment-positive">
            <p><strong>{{ review.user.username }}</strong></p>
            <p>{{ review.reviews_body }}</p>
        </div>

        {% endfor %}
    </div>
</div>

<div class="rating-section">
    {% if rating %}
    <h2>Ваш рейтинг: {{ rating.rating }}</h2>
    {% else %}
    <h2>Вы ещё не оценили этот фильм!</h2>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'rating_create' film.film_id %}">
        {% csrf_token %}
        <input type="number" name="rating"  min="1" max="10" id="number">
        <button type="submit">Отправить</button>
    </form>
    {% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a>, чтобы оценить.</p>
    {% endif %}
</div>

{% endblock %}