{% extends 'films/base.html' %}

{% block title %}Информация о фильме{% endblock %}

{% block content %}
<h2>{{film}}</h2>
<p>{{film.title }}</p>
<p>Создано: {{ film.year }}</p>
<p>Длительность: {{ film.runtime }}</p>
<p>Автор сценария: {{ film.writer }}</p>
<p>Актёры: {{ film.actors}}</p>
<p>Содержание: {{ film.plot}}</p>
<p>Язык: {{ film.language}}</p>
<p>Cтрана: {{ film.country}}</p>
<p>Награды: {{ film.awards}}</p>
<p>Сборы: {{ film.box_office}}</p>
<img src="{{ film.poster}}" width=”125" height=”200" align="left">


<div class="comments-section">
    <h2>Комментарии</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'reviews_create' %}">
        {% csrf_token %}
      <p>Text:  {{ form.as_p }} </p>
        <button type="submit">Отправить</button>
    </form>

    <form method="post" action="{% url 'reviews_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"/>
    </form>


    {% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы оставить комментарий.</p>
    {% endif %}
    <div id="comments-container">
        <br>
        {% for review in reviews %}

        <div class="comment-positive">
            <p><strong>{{ review.user.username }}</strong></p>
            <p>{{ review.reviews_body }}</p>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}